// Styles that are directly tied to the site header/navigation should go in
// this file.

.site-header {
  margin-bottom: 20px;
}

.header-image {
  width: 100%;
}

.site-title {
  @extend .h1;
  background: rgba(255, 204, 0, 0.5);
  display: table;
  font-size: 48px;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  top: 40%;
  vertical-align: middle;

  a {
    color: #000;
  }
}
