// Styles that are directly tied to the site header/navigation should go in
// this file.

#header-menu {
  @include center-block();
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.01));
  margin-bottom: 5px;
  padding-top: 15px;

  li {
    padding: 15px 5px;

    @media (max-width: $screen-sm-max) {
      padding: 0;
    }
  }

  a {
    color: #fff;
    font-family: $font-family-serif-alt;
    font-size: 17px;
    font-weight: 400;
    padding: 7px;

    @media (max-width: $screen-sm-max) {
      font-size: 14.25px !important;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #000;
      color: #fc0;
      text-decoration: none;
    }
  }

  a[href]:after {
    @media print {
      content: '';
    }
  }
}

.header-sub-nav {
  background-color: $ucf-col-default;

  a {
    color: $ucf-col-highlight;
    font-size: 16px;
    margin: 10px 30px 10px 0;

    &:hover,
    &:active,
    &:focus {
      background-color: $ucf-col-default !important;
      color: $ucf-gold;
    }
  }

  .navbar-toggle {
    color: $ucf-col-highlight;
  }
}

// Mobile nav
#site-nav-xs {
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  top: 10px;
  z-index: 100;

  .navbar-brand {
    color: #333;
    background: $ucf-gold;
    font-family: $font-family-serif-alt, serif;
    font-size: 20px;
  }

  .navbar-title {
    color: #fff;
    float: left;
    font-family: $font-family-serif-alt, serif;
    font-size: 20px;
    padding: 11px 16px;
    position: relative;
  }
}

#header-menu-xs-collapse {
  background: #101010;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  width: 100%;

  &.collapse.in {
    background: #101010;
    position: absolute;
    width: 100%;
  }
}

#header-menu-xs {
  font-family: $font-family-serif-alt, serif;
  z-index: 100;

  li {
    margin-bottom: 0;
  }

  a {
    font-size: 14px;
    font-weight: bold;
  }
}

.site-header {
  margin-bottom: 20px;
}

.header-image {
  background-position: center center;
  width: 100%;
  min-height: 500px;
  max-height: 500px;

  @media (max-width: $screen-xs-max) {
    background-size: cover;
    min-height: 0;
  }
}

.header-container {
  height: 400px;
}

.header-center {
  display: table;
  height: 100%;
  width: 100%;

  @media (max-width: $screen-xs-max) {
    height: 400px;
    position: relative;
    top: 0;
  }

  .title-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .header-title {
    display: inline-block;
    margin: 0 auto;
    position: relative;
  }

  .header-sub-title {
    background-color: $ucf-col-default;
    background-color: rgba(0, 0, 0, .8);
    color: $ucf-col-highlight;
    display: inline-block;
    font-size: 20px;
    padding: 15px 30px;
  }

  .title-header-container {
    display: table;
    position: relative;

    @media (max-width: $screen-xs-max) {
      top: -100px;
    }

    > h1,
    > span {
      @extend .h1;
      background-color: $ucf-gold;
      background-color: rgba(255, 204, 0, .8);


      display: block;
      font-size: 80px;
      font-weight: 800;
      margin: 0;
      padding: 4px 30px;
      text-transform: uppercase;

      @media (max-width: $screen-md-max) {
        font-size: 68px;
      }
      @media (max-width: $screen-sm-max) {
        font-size: 55px;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 40px;
      }
    }
  }

  a {
    &:link,
    &:visited,
    &:active,
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
}
