// Styles that are directly tied to the site header/navigation should go in
// this file.

.site-header {
  margin-bottom: 20px;
}

.header-image {
  width: 100%;
}

.header-center {
  display: table;
  height: 100%;
  width: 100%;

  .title-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .header-title {
    display: inline-block;
    margin:0 auto;
    border: solid red 2px;
    text-align: center;
    position: relative;
  }

  .title-thing {
    background: rgba(255, 204, 0, 0.8);
    display: table;
    margin: 0 auto;
    padding: 10px 20px;
    text-transform: uppercase;
    position: relative;

    & > h1,
    & > span {
      @extend .h1;
      font-size: 80px;
      margin: 0;
      font-weight: 800;
    }

    a {
      color: #000;

      &:hover {
        text-decoration: none;
      }
    }
  }

  // .site-title {
  //   @extend .h1;
  //   background: rgba(255, 204, 0, 0.8);
  //   display: table;
  //   font-size: 68px;
  //   font-weight: 800;
  //   margin: 0 auto;
  //   padding: 10px 20px;
  //   text-transform: uppercase;

  //   a {
  //     color: #000;
  //   }
  // }
  .weather {
    background: #000;
    display: inline-block;
    color: #fff;
    font-family: $font-family-serif;
    font-size: 16px;
    line-height: 32px;
    padding: 8px 16px;
    position: absolute;
    right: 0;

    .icon {
      height: 40px;
      width: 40px;

      i {
        color: #c90;
        font-size: 32px;
      }
    }

    .vertical-rule {
      border-left: 1px solid #fff;
      margin-left: 4px;
      width: 2px;
    }

    .temp {
      margin-left: 4px;
    }
  }
}
