body.fixed-navbar {
  padding-top: 50px;
}

.page-wrap {
  margin-bottom: 32px;
}

.call-to-action {
  img {
    position: relative;
    width: 100%;
  }

  h2 {
    position: absolute;
    left: auto;
    margin: 0 22%;
    text-align: center;
    top: 20px;
    width: 50%;
  }

  .btn-wrapper {
    bottom: 20px;
    position: absolute;
    text-align: center;
    width: 92.5%;
  }

  .btn {
    text-align: center;
  }
}

body.admin-bar .navbar-fixed-top {
  margin-top: 32px;

  @media (max-width: $screen-xs-max) {
    margin-top: 0;
  }
}

.navbar {
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.75);
  text-align: center;
  transition: box-shadow .75s;

  &.center {
    box-shadow: none;
    margin-bottom: 0;

    .weather {
      margin-right: -300px;
    }
  }

  .nav {
    display: inline-block;
    float: none;
    transition: all .75s;
  }

  .weather {
    background: #000;
    color: #fff;
    line-height: 20px;
    margin-right: -15px;
    padding: 15px 60px;

    transition: margin .75s;

    @media (max-width: $screen-xs-max) {
      display: none;
    }

    .icon {
      color: #fc0;
    }
  }

  .navbar-collapse {
    @media (min-width: $screen-sm-min) {
      max-height: 50px;
    }

    @media (max-width: $screen-xs-max) {
      max-height: auto;
    }
  }

  @media (min-width: $screen-sm-min) {
    max-height: 50px;
  }

  @media (max-width: $screen-xs-max) {
    max-height: auto;
  }
}
