.bucket-section {
  margin-top: -1px; // accomodate any preceding empty column divs

  .section-header {
    height: 750px;
    position: relative;
    width: 100%;

    @media (max-width: $screen-md-max) {
      height: 500px;
    }
    @media (max-width: $screen-sm-max) {
      height: 400px;
    }
    @media (max-width: $screen-xs-max) {
      height: 230px;
    }
  }

  .section-header-image-container {
    height: 750px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 80;

    @media (max-width: $screen-md-max) {
      height: 500px;
    }
    @media (max-width: $screen-sm-max) {
      height: 400px;
    }
    @media (max-width: $screen-xs-max) {
      height: 230px;
    }

    .section-header-image {
      position: absolute;
      top: 0;
      z-index: 80;
      opacity: 1;
      transition: opacity 1s ease;

      width: 100%;
    }

    &.has-video .section-header-image  {
      opacity: 0;
    }

  }

  .section-header-video-container {
    height: 750px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    @media (max-width: $screen-md-max) {
      height: 500px;
    }
    @media (max-width: $screen-sm-max) {
      height: 400px;
    }
    @media (max-width: $screen-xs-max) {
      height: 230px;
    }

    .section-header-video {
      position: absolute;
      z-index: 0;
    }
  }

  .section-header-text-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 100;

    .section-header-text {
      color: #fff;
      display: table-cell;
      position: relative;
      vertical-align: middle;
      width: 100%;

      .section-title {
        font-size: 40px;
        font-family: $font-family-serif;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 1;
        margin: 0 0 20px;
        text-align: center;
      }

      .section-lead {
        font-size: 12px;
        font-weight: normal;
        line-height: 18px;
        margin-bottom: 20px;
      }

      ul {
        display: inline-block;
        font-size: 12px;
        margin-bottom: 20px;
        padding-left: 20px;

        li {
          float: left;
          list-style: none;
          padding-right: 40px;
          width: 20%;

          &::before {
            content: '\2022';
            display: block;
            position: relative;
            max-width: 0;
            max-height: 0;
            left: -20px;
            top: -10px;
            color: $ucf-gold;
            font-size: 26px;
          }

        }
      }

      .section-header-background {
        background-color: rgba(0, 0, 0, .5);
        padding: 20px 0 20px;
      }

      &.top {
        padding-top: 24px;
        padding: 0 27%;
        vertical-align: top;
      }

      &.bottom {
        vertical-align: bottom;
      }

      &.left {
        padding: 0 60% 0 36px;
        text-align: left;
      }

      &.right {
        padding: 0 36px 0 60%;
        text-align: right;
      }
    }
  }

  .section-content {
    $offset: (100 / 24) * 1%;
    border-left: 2px solid #E6E6E6;
    margin-left: $offset;
    padding-left: $offset;

    @media (max-width: $screen-sm-max) {
      border: none;
      margin: 0 auto;
      padding: 0 15px;
    }

    @media (max-width: $screen-xs-max) {
      margin-top: 24px;
    }
  }

  .section-image {
    @media (max-width: $screen-xs-max) {
      padding-bottom: 25px;
    }
  }

  p {
    font-size: 16px;
    line-height: 28px;

    &.lead {
      font-size: 24px;
      line-height: 32px;
      padding-bottom: 20px;

      @media (max-width: $screen-sm-max) {
        font-size: 20px;
        line-height: 1.5;
        padding-bottom: 5px;
      }

    }
  }

  .menu-wrapper {
    h2 {
      padding-top: 14px;

      &::after {
        display: none;
      }
    }

    .menu {
      list-style: none;
      padding-left: 0;

      .menu-item {
        margin-bottom: 8px;

        a {
          font-size: 16px;
        }
      }
    }
  }
}

.promises-section {
  margin: 40px 0;

  .promises-copy-wrapper {
    background-color: $ucf-gold;

    .promises-copy {
      padding: 20px 10px;

      .promises-title {
        font-size: 22px;
        margin-top: 0;
      }
    }
  }

  .promises-img {
    background-position: center center;
  }
}
