.bucket-section {
  margin-bottom: 60px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 30px;
  }

  .section-header {
    position: relative;
    height: 750px;
    width: 100%;

    @media (max-width: $screen-md-max) {
      height: 500px;
    }
    @media (max-width: $screen-sm-max) {
      height: 400px;
    }
    @media (max-width: $screen-xs-max) {
      height: 230px;
    }
  }

  .section-header-image-container {
    height: 750px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 80;

    @media (max-width: $screen-md-max) {
      height: 500px;
    }
    @media (max-width: $screen-sm-max) {
      height: 400px;
    }
    @media (max-width: $screen-xs-max) {
      height: 230px;
    }

    .section-header-image {
      position: absolute;
      top: 0;
      z-index: 80;
      opacity: 1;
      transition: opacity 1s ease;

      width: 100%;
    }

    &.has-video .section-header-image  {
      opacity: 0;
    }

  }

  .section-header-video-container {
    height: 750px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    @media (max-width: $screen-md-max) {
      height: 500px;
    }
    @media (max-width: $screen-sm-max) {
      height: 400px;
    }
    @media (max-width: $screen-xs-max) {
      height: 230px;
    }

    .section-header-video {
      position: absolute;
      z-index: 0;
    }
  }

  .section-header-text-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 100;

    .section-header-text {
      color: #fff;
      display: table-cell;
      font-family: $font-family-serif;
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 1;
      padding: 0 27%;
      position: relative;
      text-align: center;
      vertical-align: middle;

      @media (max-width: $screen-md-max) {
        font-size: 52px;
      }
      @media (max-width: $screen-sm-max) {
        font-size: 45px;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 40px;
        padding: 0 10%;
      }
    }
  }

  .section-content {
    $offset: (100 / 24) * 1%;
    border-left: 2px solid #E6E6E6;
    margin-left: $offset;
    padding-left: $offset;

    @media (max-width: $screen-sm-max) {
      border: none;
      margin: 0 auto;
      padding: 0 15px;
    }

    @media (max-width: $screen-xs-max) {
      margin-top: 24px;
    }
  }

  .section-image {
    @media (max-width: $screen-xs-max) {
      padding-bottom: 25px;
    }
  }

  h2 {
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    letter-spacing: 0;
    padding: 0 0 10px 0;

    &.section-title {
      margin-bottom: 18px;
      margin-top: 60px;

      @media (max-width: $screen-xs-max) {
        margin-top: 40px;
        margin-bottom: 10px;
      }
    }

    &::after {
      background: $ucf-gold;
      content: " ";
      display: block;
      height: 2px;
      margin-top: 15px;
      width: 25px;
    }
  }

  p {
    font-size: 16px;
    line-height: 28px;

    &.lead {
      font-size: 24px;
      line-height: 32px;
      padding-bottom: 20px;

      @media (max-width: $screen-sm-max) {
        font-size: 20px;
        line-height: 1.5;
        padding-bottom: 5px;
      }

    }
  }

  .menu-wrapper {
    h2 {
      padding-top: 14px;

      &::after {
        display: none;
      }
    }

    .menu {
      list-style: none;
      padding-left: 0;

      .menu-item {
        margin-bottom: 8px;

        a {
          font-size: 16px;
        }
      }
    }
  }
}

.calendar-events {
  text-align: left;

  h2 {
      display: inline-block;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    float: left;

    letter-spacing: 0;
    padding: 0 0 10px 0;
    margin-top: 0;
    &::after {
      background: $ucf-gold;
      content: " ";
      display: block;
      height: 2px;
      margin-top: 15px;
      width: 25px;
    }

  }

  h3 {
    font-family: $font-family-sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 0;
    font-weight: 700;
    color: #5D5D5D;
  }

  .first-item {
    h4 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      font-family: $font-family-sans-serif;
          padding: 12px 0 5px 0;
    }
  }

  .big-calendar {
    position: relative;

    .icon {
      font-size: 170px;
    }

    .day,
    .month  {
      position: absolute;
      top: 70px;
      left: 0;
      width: 155px;
      text-align: center;
    }
  }

  .all-link {
    float: right;
    font-size: 16px;
    font-family: $font-family-serif;

    color: $ucf-gold;
  }

  a {
    color: #fff;

    &:link,
    &:active,
    &:focus {
    }

    &:hover {
      text-decoration: underline;

      > * {
        text-decoration: underline;
      }
    }
  }

  .giant-event-date {
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
    max-width: 200px;

    @media (max-width: $screen-xs-max) {
      border: 0;
    }

    .month {
      background: #fff;
      color: #000;
      display: block;
      font-weight: 700;
      padding: 12px auto;
      text-transform: uppercase;
      // font-size: 40px;
      font-size: 26px;
      line-height: 1.5;

      @media (max-width: $screen-xs-max) {
        background: transparent;
        color: #fff;
      }
    }

    .day {
      font-size: 22px;
      font-size: 70px;
      line-height: 1.25;
    }
  }

  .description {
    font-size: 14px;
    line-height: 20px;
  }
}
