// scss-lint:disable ImportantRule

// Disable responsiveness in IE8:
.ie8 {
  // Create grid for IE8 because it doesn't understand media queries
  @include make-grid(md);

  // Fix .visible-, .hidden- classes
  .hidden-md {
    display: none !important;
  }

  .visible-md-block {
    display: block !important;
  }

  .visible-md-inline {
    display: inline !important;
  }

  .visible-md-inline-block {
    display: inline-block !important;
  }

  // Disable responsiveness in IE8:
  // Force fixed width for containers
  .container {
    max-width: none !important;
    width: $container-md;
  }
}

// scss-lint:enable ImportantRule

// padding
.padding-ten {
  padding: 10px;
}

.padding-top-ten {
  padding-top: 10px;
}

.padding-bottom-ten {
  padding-bottom: 10px;
}

.padding-twenty {
  padding: 20px;
}

.padding-top-twenty {
  padding-top: 20px;
}

.padding-bottom-twenty {
  padding-bottom: 20px;
}

// margin
.margin-ten {
  margin: 10px;
}

.margin-top-ten {
  margin-top: 10px;
}

.margin-bottom-ten {
  margin-bottom: 10px;
}

.margin-twenty {
  margin: 20px;
}

.margin-top-twenty {
  margin-top: 20px;
}

.margin-bottom-twenty {
  margin-bottom: 20px;
}
